@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --ai-orange: #ff9f43;
  --ai-green: #3ed707;
  --ai-blue: #3399ff;
  --ai-pink: #f43783;
  --ai-red: #ff5253;
  --ai-violet: #9141ea;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.card-wrapper {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 500px;
  margin: 20px 0;
  border-radius: 4px;
}

.card-img {
  width: 40%;
}

.card-navlink {
  width: 100%;
  background-color: #ececec;
  border-radius: 5px;
  margin: 4px 0;
}

.card-text {
  font-size: 1rem;
  color: black;
  padding: 4px 0 4px 10px;
}

.nlp-card {
  background-color: var(--ai-green);
}

.ar-card {
  background-color: var(--ai-blue);
}

.dl-card {
  background-color: var(--ai-red);
}

.iot-card {
  background-color: var(--ai-orange);
}

.cv-card {
  background-color: var(--ai-violet);
}

.ml-card {
  background-color: var(--ai-pink);
}

@media screen and (max-width: 1080px) {
  .card {
    width: 40%;
    margin: 20px 0;
    border-radius: 4px;
  }
}

@media screen and (max-width: 625px) {
  .card {
    width: 80%;
    margin: 20px 0;
    border-radius: 4px;
  }

  .card-text {
    font-size: 0.9rem;
  }
}

.description {
  width: 60%;
  margin: 20px 0;
  padding: 5px 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

@media screen and (max-width: 625px) {
  .description {
    width: 80%;
    font-size: 16px;
    line-height: 20px;
  }
}

.title {
  font-size: 50px;
  text-align: center;
}

.tags {
  margin: 0 10px;
}

.desc-img {
  width: 30%;
}

.yt {
  width: 60%;
  height: 400px;
}

@media screen and (max-width: 625px) {
  .title {
    font-size: 30px;
  }

  .desc-img {
    width: 70%;
  }

  .yt {
    width: 90%;
    height: 250px;
  }
}

.flex__newline {
  flex-basis: 100%;
  height: 0;
}

.upload__cover {
  width: 65%;
  height: 260px;
  background-color: rgb(220 220 220 / 15%);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 20px 0px #b9b9b96b;
  border-radius: 10px;
}

.upload__border {
  width: 95%;
  height: 230px;
  /* margin: 20px; */
  margin: 16px -300px 0 21px;
  background-color: hsla(0, 0%, 100%, 0.8);
  background-image: -webkit-linear-gradient(left,
      var(--ai-violet) 50%,
      transparent 0),
    -webkit-linear-gradient(left, var(--ai-violet) 50%, transparent 0),
    -webkit-linear-gradient(top, var(--ai-violet) 50%, transparent 0),
    -webkit-linear-gradient(top, var(--ai-violet) 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 3px, 15px 3px, 3px 15px, 3px 15px;
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 5%);
  -webkit-perspective: 600px;
  perspective: 600px;
  overflow: hidden;
}

.show__border__shadow {
  box-shadow: inset 0 0 20px 0px rgb(176 176 176) !important;
}

.upload {
  text-align: center;
  margin-top: 3%;
}

.upload__img__animation {
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  animation: MoveUpDown 5s linear infinite;
}

.upload__img__animation img {
  -webkit-filter: drop-shadow(0px 9px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 9px 4px rgba(0, 0, 0, 0.2));
}

@keyframes MoveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.upload__img__txt {
  color: var(--ai-violet);
}

.inputfile {
  display: none;
}

.inputfile+label {
  max-width: 80%;
  font-size: 15px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  color: rgb(59, 59, 59);
  border: 2px solid currentColor;
}

.inputfile+label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -4px;
  margin-right: 4px;
}

.inputfile:focus+label,
.inputfile.has-focus+label,
.inputfile+label:hover {
  color: var(--ai-violet);
}

.img__flex__direction {
  flex-direction: row;
}

.align__center {
  text-align: center;
}

.align__center img {
  max-width: 50%;
  border: 1px solid #c9c2c2;
}

.bottom {
  margin-bottom: 5%;
}

@media (max-width: 800px) {
  .img__flex__direction {
    flex-direction: column;
  }

  .upload__cover {
    width: 90%;
  }

  .upload__border {
    width: 89%;
  }

  .upload {
    margin-top: 9%;
  }
}

.footer {
  width: 100%;
  padding: 10px;
  background-color: rgb(61, 61, 61);
  color: white;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: space-around;
}